---

---

<footer id="contact" class="py-8 text-black dark:text-white">
  <div class="flex justify-center items-center gap-8">
    <a href="mailto:josedavidcases2003@gmail.com" target="_blank" rel="noopener noreferrer" class="cursor-pointer">
      <img src="/images/gmail.svg" alt="Correo" class="w-12 h-12" />
    </a>
    <a href="https://www.linkedin.com/in/jose-david-cases-bernabeu" target="_blank" rel="noopener noreferrer" class="cursor-pointer">
      <img src="/images/linkedin.svg" alt="LinkedIn" class="w-14 h-14" />
    </a>
    <a href="https://github.com/josedavidcases7?tab=repositories" target="_blank" rel="noopener noreferrer" class="cursor-pointer">
      <img src="/images/github.svg" alt="GitHub" class="w-10 h-10" />
    </a>
  </div>
</footer>
