<section class="py-8 bg-white dark:bg-black text-black dark:text-white">
  <h2 class="text-center text-3xl md:text-4xl font-semibold mb-10">
    Formación
  </h2>
  <div class="px-4 md:px-8">
    <ol class="relative border-l border-gray-300 dark:border-gray-600 mx-auto max-w-3xl">
      
      
      <li class="mb-10 ml-4 md:ml-6 pl-8">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-purple-400 rounded-full -left-1 md:-left-3 ring-8 ring-gray-300 dark:ring-black">
          <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"/>
            <path d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
          </svg>
        </span>
        <h3 class="mb-1 text-xl font-semibold">
          Desarrollo de Aplicaciones Web
        </h3>
        <time class="block mb-2 text-base font-normal text-gray-500 dark:text-gray-400">
          Septiembre 2023 - Junio 2025
        </time>
        <p class="text-lg font-normal text-gray-700 dark:text-gray-300">
          El primer año de mis estudios lo cursé en Cesur, y el segundo en EFA El Campico. Durante este tiempo, adquirí una sólida experiencia en el diseño y la programación de páginas web, además de familiarizarme con frameworks comunes como Laravel, Angular, Tailwind CSS, entre otros.
        </p>
      </li>
  
      
      <li class="mb-10 ml-4 md:ml-6 pl-8">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-purple-400 rounded-full -left-1 md:-left-3 ring-8 ring-gray-300 dark:ring-black">
          <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"/>
            <path d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
          </svg>
        </span>
        <h3 class="mb-1 text-xl font-semibold">
          Bachillerato de Ciencias Sociales
        </h3>
        <time class="block mb-2 text-base font-normal text-gray-500 dark:text-gray-400">
          Septiembre 2020 - Junio 2022
        </time>
        <p class="text-lg font-normal text-gray-700 dark:text-gray-300">
          Estudié Bachillerato de Ciencias Sociales en el IES Santiago Grisolía, lo que me impulsó a adentrarme en el mundo de la programación.
        </p>
      </li>
    </ol>
  </div>
</section>
