<section class="py-8 bg-white dark:bg-black text-black dark:text-white">
  <h2 class="text-center text-3xl md:text-4xl font-semibold mb-20">
    Tecnologías
  </h2>
  <div class="max-w-5xl mx-auto grid grid-cols-3 gap-6 px-4 justify-items-center lg:grid-cols-7 lg:justify-items-start mb-8">
    <img src="/images/html.svg" alt="HTML5" class="w-12 h-12 md:w-16 md:h-16" />
    <img src="/images/tailwind.svg" alt="Tailwind" class="w-12 h-12 md:w-16 md:h-16" />
    <img src="/images/laravel.svg" alt="Laravel" class="w-12 h-12 md:w-16 md:h-16" />
    <img src="/images/java.svg" alt="Java" class="w-12 h-12 md:w-16 md:h-16" />
    <img src="/images/selenium.svg" alt="Selenium" class="w-12 h-12 md:w-16 md:h-16" />
    <img src="/images/angular.svg" alt="Angular" class="w-12 h-12 md:w-16 md:h-16" />
    <img src="/images/mysql.svg" alt="MySQL" class="w-12 h-12 md:w-16 md:h-16" />
  </div>
</section>
