---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

interface Tech {
  name: string;
  image: string;
}

const techEntries: CollectionEntry<"techlist">[] = await getCollection("techlist", () => true);
const techData = techEntries[0].data;
const techList = techData.tech as Tech[];
---

<section class="py-8 bg-white dark:bg-black text-black dark:text-white">
  <h2 class="text-center text-3xl md:text-4xl font-semibold mb-20">
    Tecnologías
  </h2>
  <div class="max-w-5xl mx-auto grid grid-cols-3 gap-6 px-4 justify-items-center lg:grid-cols-7 lg:justify-items-start mb-8">
    {techList.map((item: Tech) => (
      <img 
        src={item.image} 
        alt={item.name} 
        class="w-12 h-12 md:w-16 md:h-16 transition-transform duration-300 hover:scale-105 cursor-pointer" 
      />
    ))}
  </div>
</section>
