---

---

<button id="themeToggle" aria-label="Toggle theme" class="flex items-center">
  <img
    class="sun w-12 h-12 md:w-14 md:h-14 lg:w-8 lg:h-8"
    src="/images/sol-blanco.png"
    alt="Modo Claro"
  />
  <img
    class="moon w-8 h-8 md:w-10 md:h-10 lg:w-6 lg:h-6"
    src="/images/luna-blanco.png"
    alt="Modo Oscuro"
  />
</button>

<style>
  .sun {
    display: block;
  }
  .moon {
    display: none;
  }

  :global(.dark) .sun {
    display: none;
  }
  :global(.dark) .moon {
    display: block;
  }
</style>

<script is:inline>
  if (localStorage.getItem("theme") === "dark") {
    document.documentElement.classList.add("dark");
  }

  function handleToggleClick() {
    const html = document.documentElement;
    html.classList.toggle("dark");
    const isDark = html.classList.contains("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  }

  const themeToggle = document.getElementById("themeToggle");
  if (themeToggle) {
    themeToggle.addEventListener("click", handleToggleClick);
  }
</script>
